.timer {
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
	margin: 20px;
	border-radius: 10px;
	background-color: #e6f7ff;
}

.timer button {
	margin: 5px;
	padding: 10px;
	background-color: #28a745;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.timer button:hover {
	background-color: #218838;
}

.timer input {
	margin-top: 10px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}